.carousel{
  hover:
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  visibility: hidden;
}

.carousel-indicators, .active{
  background: none;
  opacity: 0;
}

.img-size{
  height: 90vh;
  width: 100vw;
}

