nav {
  background-color: #7cf4d3;
  height: 170px;
  margin-bottom: 120px;
  width: 100%;
  background-size: cover;
  /* border-left: 300px #d46ce7;
  border-right: 60px #9effb8;
  border-top: 60px #e9f259;
  border-bottom: 60px #7cf4d3; */
}

h1 {
  padding: 55px;
  font-size: 30px;
}

.App {
 background-color:	#89aee1;
 width: 100%;
}

#album1 {
  justify-content: center;
  align-items: center;
  background: #ffffff;
  display: inline-block;
  margin: 55px 85px;
  margin-left: 110px;
  padding: 20px 20px 40px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  transition: all .20s linear;
  position: relative;
}
/* let colors = ['red', 'green', 'blue', 'orange', 'yellow'];

randomColors = colors[Math.floor(Math.random() * colors.length)]; */

#album {
  /* background: #e9f259;
  padding: 15px 15px 15px; */
  width: 230px;
  height: 230px;
}

.search {
  margin-top: -30px;
  padding-bottom: 60px;
  margin-left: 44.5%;

}

.search div {
  width: 19.6%;
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 3px 3px 8px grey;
}

.search div p {
  font-weight: 400;
  font-style: italic;
  color: #d46ce7;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-on-out;
  width: fit-content;
}

.search div p:hover {
  border-bottom: 1px solid currentColor;
}




