html {
  background-color: #89aee1;
  width: 100%;
  height: 100%;
}

.App {
  background-color:	#89aee1;
  width: 100%;
  margin: 0;
 }
 

header {
  background-color: #7cf4d3;
  height: 170px;
  margin-bottom: 120px;
  width: 100%;
  background-size: cover;
}

.background {
  width: 70%;
  height: 280px;
}

h1 {
  padding: 55px;
  font-size: 30px;
}

#album {
  padding: 15px 15px 15px;
  width: 230px;
  height: 230px;
  background: #d46ce7;
}


#album1 {
  justify-content: center;
  align-items: center;
  background: #ffffff;
  display: inline-block;
  margin: 55px 85px;
  margin-left: 89.5px;
  padding: 20px 20px 40px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  transition: all .20s linear;
  position: relative;
}

/* search bar for 1st page */

.search {
  margin-top: -30px;
  padding-bottom: 60px;
  margin-left: 44.5%;
  position: relative;
}

.search div {
  position: relative;
  width: 19.6%;
  background-color: white;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 3px 3px 8px grey;
}

.search div p {
  position: relative;
  font-weight: 400;
  font-style: italic;
  color: #d46ce7;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-on-out;
  width: fit-content;
}

.search div p:hover {
  position: relative;
  border-bottom: 1px solid currentColor;
}

/* page two artist page */



#artist1{
position: relative;
display: flex;
flex-direction: row;
justify-content: space-evenly;
padding-top: 20px;
padding-left: 80px;
}


.artistAlbum1 {
  width: 330px;
  height: 330px;
  align-items: center;
  background: #ffffff;
  padding: 25px 25px 90px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  transition: all .20s linear;
  position: relative;
}

.singer {
position: absolute;
right: 290px;
top: 385px;
}

#artist2 {
position: absolute;
font-size: 30px;
top: -110px;
text-align:center;
}

/* my create page starts */

.createPage {
  display: flex;
  flex-direction: column;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 20px;
}

.createPage h2 {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 25px;
  margin-top: -70px;
}

.submitSong {
  margin-top: 20px;
  margin-left: 38%;
  margin-right: 38%;
  padding: 10px;
}

label {
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 20px;
}

/* Creation of my Nav starts */

nav {
  position: absolute;
  top: 71px;
  font-size: 30px;
  right: 120px;
}

/* https://paulund.co.uk/css-animation-link-underline ---> this is where I got the transition from */ 

.homeB {
  padding-right: 100px;
  text-decoration: none;
  color: black;
  position: relative;
}

.homeB:before{
content:'';
position: absolute;
width:43%;
height:2px;
bottom: 0;
left: 0;
background-color: #d46ce7;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out;
}

.homeB:hover:before {
  visibility: visible;
  transform:scaleX(1);
}

.createB {
  text-decoration: none;
  color: black;
  position: relative;
}

.createB:before{
content:'';
position: absolute;
width:100%;
height:2px;
bottom: 0;
left: 0;
background-color: #d46ce7;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out;
}

.createB:hover:before {
  visibility: visible;
  transform:scaleX(1);
}

/* below are my media queries to make the site responsive */

@media (max-width: 376px) {
  h1{margin: 0px;
     padding: 0px;
     padding-bottom: 50px;
     text-align: center;
     font-size: 25px;
     position: absolute;
     margin-top: 30px;
     width: 100%;}

  .background {
    width: 0px;
    padding: 0px;}

  .createB {
      text-decoration: none;
      font-size: 22px;
      padding-top: 30px;
    }

  .homeB {
          font-size: 22px;
          width: 100%;
          padding-right: 0px;
          text-decoration: none;
          text-align: center;
          color: black;
          position: absolute;
          margin-top: 45px;}

    .createB:hover:before {
      text-decoration: none;}

      .createB:before{
       text-decoration:none;}

    .createPage {
            display: flex;
            flex-direction: column;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 20px;
          } 
  
}





